<div class="container" align="center">
    <h5>Contact</h5>
    <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
        <div class="form-group">            
            <input id="nameInput" class="form-control" type="text" placeholder="Name">            
            <input id="companyInput" class="form-control" type="text" placeholder="Company">           
            <input id="emailInput" class="form-control" type="email" placeholder="Email">
            <textarea id="messageInput" class="form-control" type="text" rows="7" placeholder="Message"></textarea>
        </div>
    </form>
    <button (click)="sendEmail()" type="button" class="btn btn-dark">Send!</button>
</div>