<div class="container" align="center">
    <h5>Contact</h5>
    <form>
        <div class="form-group">          
                <input 
                   placeholder="Name"
                   id="nameInput" 
                   class="form-control" 
                   type="text" 
                   name="name" 
                >
        </div> 
        
        <div class="form-group">           
                    <input 
                       placeholder="Company"
                       id="companyInput" 
                       class="form-control" 
                       type="text" 
                       name="company"
                    >
        </div>   

        <textarea id="messageInput" class="form-control" type="text" rows="8" placeholder="Message"></textarea>        
    </form>
    <button (click)="sendEmail()" type="button" class="btn btn-dark mt-4"><i class="fa fa-envelope"></i></button>
</div>