<div class="container" align="center">
    <h5>Contact</h5>
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="form-group">          
                <input 
                   placeholder="Name"
                   id="nameInput" 
                   class="form-control" 
                   type="text" 
                   name="name"
                   #contactName="ngModel"
                   [ngClass]="{'is-invalid':contactName.errors && contactName.touched}"
                   [(ngModel)]="name"
                   minlength="2"
                   required
                >
                <div [hidden]="!contactName.errors?.required"
                     class="invalid-feedback">
                     Name required 
                </div>
                
                <div [hidden]="!contactName.errors?.required"
                     class="invalid-feedback">
                     Must be at least 2 characters 
                </div>
        </div> 
        
        <div class="form-group">           
                    <input 
                       placeholder="Company"
                       id="companyInput" 
                       class="form-control" 
                       type="text" 
                       name="company"
                       #companyName="ngModel"
                       [ngClass]="{'is-invalid':companyName.errors && companyName.touched}"
                       [(ngModel)]="company"
                       required
                    >
                    <div [hidden]="!companyName.errors?.required"
                         class="invalid-feedback">
                         Company required 
                    </div>
            </div>   

            <textarea id="messageInput" class="form-control" type="text" rows="8" placeholder="Message"></textarea>        
    </form>
    <button (click)="sendEmail()" type="button" class="btn btn-dark mt-4"><i class="fa fa-envelope"></i></button>
</div>