<h4>About</h4>
<div class="container-fluid" align="center">
    <div class="portrait">        
        <img  src="https://i.imgur.com/YbzQul6.jpg?2" class="img-fluid" alt="parisblackandwhite">
    </div>
    <div class="about mt-4">
        A self taught developer with nearly two years experience in Front End Development
        and a keen interest in all things Javascript. I am dedicated to crafting clear
        precise code to build user interfaces. Constantly growing and
        honing my skills as a developer.
    </div>
</div>
