<h4>About</h4>
<div class="container-fluid" align="center">
    <div class="portrait">        
        <img  src="https://i.imgur.com/YbzQul6.jpg?2" class="img-fluid" alt="parisblackandwhite">
    </div>
    <div>
        A self taught developer with nearly two years experience in all things Javascript.
        When i'm not hacking away at a terminal or chasing around my toddler you can find me 
        back at a computer either running around Azeroth living vicariously through a 
        World of Warcraft character or satiating my Fantasy Football addiction
        poring over snap count and usage rate spreadsheets.
    </div>
</div>
