@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.navbar {
    min-height: 80px;
}
h2 {
    font-family: 'Poiret One', sans-serif;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


@media(min-width:768px) {
    .navbar-toggle{display:none}
}
