@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.navbar {
    min-height: 80px;
}
.navbar-brand {
    font-family: 'Poiret One', sans-serif;
    font-size: 26px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav {
    padding-right: 2rem;
}

.nav-item {
    cursor: pointer;
}


@media(min-width:768px) {
    .navbar-toggle{display:none}
}
