<h3>My Work</h3>
<div class="project-container" align="center">
  <a href="https://parisbueller.github.io/Dock-Finder/" class="screenshot">
    <div class="project">  
     <img src="https://i.imgur.com/Zj8lbqW.png?2" alt="DockFinder">
    </div>
  </a>
  <a href="https://parisbueller.github.io/React-Wiki/" class="screenshot">
    <div class="project">   
      <img src="https://i.imgur.com/1eXkN3o.png?1" alt="WikiSearch">   
    </div>
  </a>
  <a href="https://parisbueller.github.io/WeatherApp/" class="screenshot">
    <div class="project"> 
      <img  src="https://i.imgur.com/jJrV3ys.png?1" alt="WeatherApp">
    </div>
  </a>
</div>

<div class="description mt-4" align="center">
  You can find the source code for these projects and more, including 
  this Portfolio on my github page.
</div>
<div class="github mt-4" align="center">
  <button class="btn btn-light" (click)="openGithub()"><i class="fa fa-github mr-1"></i></button>
</div>
