<h3>My Work</h3>
<div class="project-container" align="center">
  <div class="item1">
    
  </div>
  <div class="item2">
    <a href="" class="screenshot">
      <img src="" alt="">
    </a>
  </div>
  <a href="https://parisbueller.github.io/Dock-Finder/" class="screenshot">
    <div class="item3">  
     <img src="https://i.imgur.com/Zj8lbqW.png?2" alt="DockFinder">
    </div>
  </a>
  <a href="https://parisbueller.github.io/WeatherApp/" class="screenshot">
    <div class="item4"> 
      <img  src="https://i.imgur.com/jJrV3ys.png?1" alt="WeatherApp">
    </div>
  </a>
  <a href="https://parisbueller.github.io/Wikipedia-Search-Engine/" class="screenshot">
    <div class="item5">   
      <img src="https://i.imgur.com/c8DvmCm.png?1" alt="WikiSearch">   
    </div>
  </a>
</div>

