<h3>My Work</h3>
<div class="project-container" align="center">
  <a href="https://parisbueller.github.io/Dock-Finder/" class="screenshot">
    <div class="item1">  
     <img src="https://i.imgur.com/Zj8lbqW.png?2" alt="DockFinder">
    </div>
  </a>
  <a href="https://parisbueller.github.io/WeatherApp/" class="screenshot">
    <div class="item2"> 
      <img  src="https://i.imgur.com/jJrV3ys.png?1" alt="WeatherApp">
    </div>
  </a>
  <a href="https://parisbueller.github.io/Wikipedia-Search-Engine/" class="screenshot">
    <div class="item3">   
      <img src="https://i.imgur.com/c8DvmCm.png?1" alt="WikiSearch">   
    </div>
  </a>
 
</div>
<div class="description mt-4" align="center">
  You can find the source code for these projects and more, including 
  this Portfolio on my github page.
</div>
<div class="github mt-4" align="center">
  <button class="btn btn-light" (click)="openGithub()"><i class="fa fa-github mr-1"></i></button>
</div>
