@import url('https://fonts.googleapis.com/css?family=Poiret+One');


h3{
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    margin-top: 2em;
}

.carousel{
    margin-top: 7em;
    display:block;
}

.carousel-caption{
    text-align: center;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}